@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

@media screen and (max-width: 1200px) {
  .actividades .actividadesContenedor {
    flex-direction: column;
  }

  .actividades .actividadesContenedor .vinoActividades {
    margin-bottom: 10px;
  }

  .actividades .actividadesContenedor .excursionesActividades {
    margin-top: 10px;
  }

  .footer .container .contenedorColumnas {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  header nav ul {
    padding-left: 0px;
  }

  .intro {
    background-color: #ffffff;
  }

  .intro .row .textoIntro {
    width: 100%;
    color: black;
    text-align: center;
  }

  .fotoIntro {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  header nav ul li a {
    font-size: 15px;
  }
}

@media screen and (max-width: 820px) {
  header nav ul li {
    margin-left: 50px;
  }
}

@media screen and (max-width: 740px) {
  header nav ul li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 705px) {
  .heroBodegas .row .col-md-12 h2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 660px) {
  header nav ul li {
    margin-left: 10px;
  }
}

@media screen and (max-width: 640px) {
  .actividades .actividadesContenedor .vinoActividades {
    width: 400px;
    height: 200px;
  }

  .actividades .actividadesContenedor .excursionesActividades {
    width: 400px;
    height: 200px;
  }

  .actividades h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .footer .container ul {
    align-self: center;
    margin-bottom: 0px;
  }

  .footer .container ul h3 {
    margin-bottom: 0px;
  }

  .footer .container ul li {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .heroBodegas .row .col-md-12 h2 {
    font-size: 50px;
  }

  header nav ul li a {
    margin-right: 10px;
  }
}

@media screen and (max-width: 540px) {
  header nav ul li {
    margin-left: 5px;
  }
}

@media screen and (max-width: 520px) {
  header nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .actividades .actividadesContenedor .vinoActividades {
    width: 300px;
    height: 100px;
  }

  .actividades .actividadesContenedor .excursionesActividades {
    width: 300px;
    height: 100px;
  }

  .actividades h2 {
    font-size: 15px;
    margin-left: 50px;
  }

  .footer .container ul h3 {
    font-size: 10px;
  }
}

@media screen and (max-width: 390px) {
  .heroBodegas .row .col-md-12 h2 {
    font-size: 30px;
  }
}

header {
  padding: 20px;
  background-color: #540800;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header nav h1 {
  font-size: 60px;
  color: white;
}

header nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
}

header nav ul li {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

header nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}

main .hero {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url(../img/vinito.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

main .hero h2 {
  font-size: 34px;
  margin: 5px;
}

main .hero p {
  font-size: 20px;
}

main .hero a {
  font-size: 20px;
  text-decoration: none;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  color: #540800;
  font-weight: bold;
  margin-top: 25px;
}

main .heroBodegas {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 290px;
  background-image: url(../img/bodega.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 20px;
}

main .heroBodegas h2 {
  font-size: 96px;
  margin: 5px;
}

main .intro {
  background-color: #863F3B;
}

main .intro .row .textoIntro {
  text-align: left;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-top: 12px;
}

main .intro .row .textoIntro h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

main .intro .row .textoIntro p {
  width: 100%;
  font-size: 16px;
}

main .intro .row .fotoIntro {
  padding-right: 0%;
}

main .intro .row .fotoIntro img {
  width: 100%;
  height: 100%;
}

main .bodegas .row .col-md-12 .andelunaImagen {
  background-image: url(../img/1andaluna.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 div a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #540800;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

main .bodegas .row .col-md-12 .zuccardiImagen {
  background-image: url(../img/2zuccardi.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 .salenteinImagen {
  background-image: url(../img/3-salentin.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 .closImagen {
  background-image: url(../img/4closdelos7.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 .trapicheImagen {
  background-image: url(../img/5trapiche.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 .escorihuelaImagen {
  background-image: url(../img/6escorihuela.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 .catenaImagen {
  background-image: url(../img/7catenazapata.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 .vistalbaImagen {
  background-image: url(../img/8vistalba.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 .azulImagen {
  background-image: url(../img/9bodegalaazul.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .bodegas .row .col-md-12 .alfaImagen {
  background-image: url(../img/10alfacrux.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

main .actividades {
  margin-top: 20px;
  width: 100%;
}

main .actividades h2 {
  text-align: left;
  font-size: 35px;
  margin-left: 90px;
  margin-bottom: 10px;
  color: #212121;
}

main .actividades .actividadesContenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .actividades .actividadesContenedor div {
  text-align: center;
}

main .actividades .actividadesContenedor .vinoActividades {
  background-image: url(../img/bodega.jpg);
  position: relative;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

main .actividades .actividadesContenedor .vinoActividades p {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
}

main .actividades .actividadesContenedor .vinoActividades a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #540800;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

main .actividades .actividadesContenedor .excursionesActividades {
  background-image: url(../img/potre.jpg);
  position: relative;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

main .actividades .actividadesContenedor .excursionesActividades p {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
}

main .actividades .actividadesContenedor .excursionesActividades a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #540800;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

main .container .row .opina {
  background-image: url(../img/gente2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 25px;
}

main .container .row .opina h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
}

main .container .row .opina a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #540800;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.footer {
  background-color: #762923;
  color: white;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer .column {
  list-style: none;
  padding: 0;
}

.footer .column h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer .column li {
  margin-bottom: 8px;
}

.footer .column li a {
  color: white;
  text-decoration: none;
}

.footer .social-media {
  display: flex;
  gap: 15px;
}

.footer .social-media img {
  width: 24px;
  height: 24px;
}