header {
  padding: 20px;
  background-color: $color-principal;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h1 {
      font-size: 60px;
      color: white;
    }

    ul {
      display: flex;
      list-style: none;
      margin-bottom: 0px;

      li {
        display: flex;
        align-items: center;
        margin-left: 70px;

        a {
          color: white;
          font-size: 20px;
          text-decoration: none;
          margin-right: 20px;
        }
      }
    }
  }
}